body {
    font-family: 'Roboto', sans-serif;
    background-color: rgba(0,0,0,0);
    clear: both;
}

.jumbotron {
    background-color: black;
    text-align: center;
    height: 295px;
}

.banner {
    margin-top: -65px;
    clear: both;
}

.container-fluid{
    display: flexbox;
    text-align: center;
}

img {
}

button {
    margin: 10px;
}